<app-loading [loading]="list"></app-loading>
<div *ngIf="list">
	<div *ngIf="list.length">
		<div class="grid-container">
			<ng-content></ng-content>
		</div>
		<mat-paginator *ngIf="list.length > pageSize"
						 [length]="list.length"
						 [pageIndex]="pageIndex"
						 [pageSize]="pageSize"
						 (page)="updateList($event)">
		</mat-paginator>
	</div>

	<mat-card *ngIf="!list.length" class="center">
		<div [innerHTML]="emptyMessage"></div>
		<img src="assets/img/icons/empty.png">
	</mat-card>
</div>
