p {
	font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

img {
	vertical-align: middle;
	margin: 20px;
}

mat-paginator {
	margin-top: 5px;
	margin-bottom: 5px;
}

mat-card {
	margin-top: 5px;
	margin-bottom: 5px;
}
