<mat-card>
  <mat-form-field [class.large]="!media.mobileSize">
    <input matInput [placeholder]="placeholderString" [formControl]="emailCtrl" autocomplete="off">
    <button mat-icon-button matSuffix><mat-icon>search</mat-icon></button>
  </mat-form-field>
  <button *ngIf="filteredUsers"
          mat-raised-button
          (click)="checkAndAdd()"
          [disabled]="emailCtrl.invalid || filteredUsers.length"
          color="primary"
  >{{ addString }}</button>
</mat-card>

<!-- Users display -->
<app-paged-list [list]="filteredUsers" #list>
  <mat-card>
    <mat-nav-list>
      <a mat-list-item *ngFor="let user of list.truncatedList()">
        {{ getName(user) }}
        <button mat-icon-button matSuffix (click)="remove.emit(tools.getEmailIdFromEmail(user))"><mat-icon>delete</mat-icon></button>
      </a>
    </mat-nav-list>
  </mat-card>
</app-paged-list>
