<mat-card>
  Salut !
  <br>
  <br>Petite astuce: ajoute ce site à l'écran d'acceuil du ton téléphone, cela te permettra d'y revenir plus facilement !
  <br>
  <br>J'espère que tu apprécies le fait de pouvoir voter en ligne, entre autres, grâce à cette application web.
  <br>Comme tu peux le constater, tout n'est pas fini !
  <br>
  <br>Il sera bientôt possible de :
  <br> - consulter ton solde cafet et de commander via l'application
  <br> - recevoir des notifications
  <br> - accéder à ton emploi du temps et y ajouter les événements
  <br>
  <br>Si tu veux participer à ce projet, contacte Hans Imag et deviens codeur-développeur bénévole pour le Cercle !
</mat-card>
