<mat-card>
  <div class="info">
    Salut !<br>
    <br>
    Petite astuce: ajoute ce site à l'écran d'acceuil du ton téléphone, cela te permettra d'y revenir plus facilement !<br>
    <br>
    J'espère que tu apprécies le fait de pouvoir voter en ligne, entre autres, grâce à cette application web.<br>
    Comme tu peux le constater, tout n'est pas fini !<br>
    <br>
    Il sera bientôt possible de :<br>
     - consulter ton solde cafet et de commander via l'application<br>
     - recevoir des notifications<br>
    <br>
    Si tu veux participer à ce projet, contacte Hans Imag et deviens codeur-développeur bénévole pour le Cercle !<br>
    <br>


    <h2>Fonctionnalités</h2>

    <h3>Actualités</h3>
    Consulte les actualités publiées par les différentes associations, notamment par le Pole Com'.

    <h3>Cafet</h3>
    Consulte ton solde cafet et passe commande. (Pas encore disponible)<br>

    <h3>Calendrier</h3>
    Ce calendrier regroupe tes cours, les événements associatif que tu y as ajouté, et tes événements personnels.<br>
    Un événement en cours est affiché en vert<br>
    <br>
    Pour ajouter ou retirer un événement associatif, réfère-toi à la Fonctionnalité 'Evénements'.<br>
    <br>
    Les cours sont téléchargés en fonction des sessources données dans le champ 'Ressources ADE' des paramètres du calendrier <mat-icon>settings</mat-icon>.<br>
    Pour obtenir ces ressources, connecte-toi à ADE depuis Zenith et copie les ressources présentes dans l'URL.<br>
    Il faudra mettre à jour ces ressources à chaque fois que tu t'incrit à un nouveau cours, c'est-à-dire en général au début de chaque semestre.<br>
    <br>
    Pour créer un événement personnel, utilise l'icone <mat-icon>add_circle</mat-icon> et utilise <mat-icon>edit</mat-icon> pour le modifier. Pour quitter le mode édition clique sur <mat-icon>close</mat-icon><br>
    Le contenu de ces événement peut pour l'instant être consulté par l'administrateur.

    <h3>Evénements</h3>
    Consulte les événements créés par les associations de l'Ensimag<br>
    Pour ajouter un événement à ton calendrier, clique sur <mat-icon>event_available</mat-icon> et clique sur <mat-icon>event_busy</mat-icon> pour l'en retirer.

    <h3>Vote</h3>
    Vote pour une élection ou un sondage. Ton vote est totalement anonyme en base de donnée.

    <div *ngIf="auth.isAdmin">
      <h3>Administrateur</h3>
      Accède à la liste des utilisateurs et accorde leur des droits.<br>
      Tape le nom d'un membre dans la barre de recherche pour y accéder plus rapidement.
    </div>

    <div *ngIf="auth.isVoteAdmin">
      <h3 >Administrateurs des votes</h3>
      Crée des srcutins et nomme les assesseurs.<br>
      <br>
      Un scrutin n'est pas visible par les utilisateurs et les assesseurs tant qu'il n'est pas activé.<br>
      <br>
      Chaque srutin dispose des fonctionnalités suivantes:<br>
      - éditer <mat-icon>edit</mat-icon><br>
      - avoir un aperçu <mat-icon>search</mat-icon><br>
      - consulter les resultats <mat-icon>poll</mat-icon><br>
      - accéder à la liste des votants en ligne et en face-à-face <mat-icon>face</mat-icon><br>
      - le supprimer <mat-icon>delete</mat-icon><br>
      <br>
      Lorsqu'un srutin est actif, tu ne peux qu'accéder à l'aperçu et aux votants.<br>
    </div>

    <div *ngIf="auth.isAssessor">
      <h3>Assesseur</h3>
      Selectionne les scrutins pour lesquels tu dois assesser et ajoute des votants en face-à-face.<br>
    </div>


  </div>
  <br>
  <button mat-raised-button color="primary" (click)="back()">{{ d.l.backLabel }}</button>

</mat-card>
