<!-- Loading -->
<div class="loading-indicator" *ngIf="!cafet.user">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<!-- Compte -->
<div *ngIf="cafet.user">
  <div *ngIf="cafet.user.activated" class="center">
    <!-- Credit -->
    <mat-card>
      <h2>{{ d.l.creditLabel }}: {{ cafet.user.credit.toFixed(2) }}€</h2>
      <div><mat-error *ngIf="isCreditError()" [innerHTML]="getCreditError()"></mat-error></div>
      <button mat-icon-button (click)="openHistory()"><mat-icon>history</mat-icon></button>
    </mat-card>
    <!-- Week ingredient -->
    <!-- <mat-card *ngIf="ingredients">
      <small>{{ d.l.weekIngredientLabel }}:</small>
      <h2 *ngFor="let ingredient of weekIngredients">{{ ingredient.name }}</h2>
    </mat-card> -->
    <!-- Order -->
    <!-- <mat-card>
      C'est ici qu'on commandera !
    </mat-card> -->
  </div>

  <app-cafet-info *ngIf="!cafet.user.activated"></app-cafet-info>
</div>
