<!-- Loading -->
<mat-card *ngIf="!users" class="spinner-wrapper">
  <mat-spinner class="spinner"></mat-spinner>
</mat-card>

<div *ngIf="users">
  <!-- Header -->
  <mat-card>
    <form [formGroup]="searchCtrl">

      <span *ngIf="error" class="error">{{ error }}</span>

      <div class="container">
        <mat-form-field>
          <input matInput placeholder="{{ d.l.cafetSearchInfo }}" formControlName="email" autocomplete="off">
          <button mat-icon-button matSuffix><mat-icon>search</mat-icon></button>
        </mat-form-field>
      </div>

    </form>
  </mat-card>

  <!-- Users display, small screens -->
  <mat-accordion *ngIf="!media.largeSize" class="client-group">
    <mat-expansion-panel *ngFor="let user of displayedUsers | slice:pageIndex*pageSize:(pageIndex+1)*pageSize">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ cafet.getUserName(user) }}
        </mat-panel-title>
        <mat-panel-description>
          {{ getUserCredit(user).toFixed(2) }}€
        </mat-panel-description>
      </mat-expansion-panel-header>

      <form (ngSubmit)="transaction(user, false)">
        <span>
          <mat-form-field>
            <input type='number' matInput placeholder="{{ d.l.substractButtonLabel }}" [formControl]="controls[user.emailId].sub" autocomplete="off">
          </mat-form-field>
          <button mat-button
            type="submit"
            [disabled]="controls[user.emailId].sub.invalid"
            color="primary"
          >{{ d.l.substractButtonLabel }}</button>
        </span>
      </form>
      <form (ngSubmit)="transaction(user, true)">
        <span>
          <mat-form-field>
            <input type='number' matInput placeholder="{{ d.l.addButtonLabel }}" [formControl]="controls[user.emailId].add" autocomplete="off">
          </mat-form-field>
          <button mat-button
            type="submit"
            [disabled]="controls[user.emailId].add.invalid"
            color="primary"
          >{{ d.l.addButtonLabel }}</button>
        </span>
      </form>
      <button mat-icon-button (click)="openHistory(user)" [disabled]="dayTransactions[user.emailId] == null" matSuffix><mat-icon>history</mat-icon></button>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- Users display, large screens -->
  <div *ngIf="media.largeSize" class="client-group">
    <mat-card *ngFor="let user of displayedUsers | slice:pageIndex*pageSize:(pageIndex+1)*pageSize">
      <div class="client-large">
        <span class="text">
          <span>{{ cafet.getUserName(user) }}</span>
        </span>
        <span>
          <button mat-icon-button (click)="openHistory(user)" class="history" [disabled]="dayTransactions[user.emailId] == null" matSuffix><mat-icon>history</mat-icon></button>
          <span>{{ getUserCredit(user).toFixed(2) }}€</span>
        </span>
        <span>
          <form (ngSubmit)="transaction(user, false)">
            <mat-form-field>
              <input type='number' matInput placeholder="{{ d.l.substractButtonLabel }}" [formControl]="controls[user.emailId].sub" autocomplete="off">
            </mat-form-field>
            <button mat-button
              type="submit"
              [disabled]="controls[user.emailId].sub.invalid"
              color="primary"
            >{{ d.l.substractButtonLabel }}</button>
          </form>
        </span>

        <span>
          <form (ngSubmit)="transaction(user, true)">
            <mat-form-field>
              <input type='number' matInput placeholder="{{ d.l.addButtonLabel }}" [formControl]="controls[user.emailId].add" autocomplete="off">
            </mat-form-field>
            <button mat-button
              type="submit"
              [disabled]="controls[user.emailId].add.invalid"
              color="primary"
            >{{ d.l.addButtonLabel }}</button>
          </form>
        </span>
      </div>
    </mat-card>
  </div>

  <!-- Paginator -->
  <mat-paginator
    [length]="displayedUsers.length"
    [pageSize]="pageSize"
    (page)="updateList($event)"
    class="client-group"
  ></mat-paginator>
<div>
