<app-paged-grid [list]="nsigma.getAnnonces() | async" #pages>
  <app-nsigma-annonce-card *ngFor="let annonce of pages.truncatedList()"
                           [annonce]="annonce"
                           [admin]="true">
  </app-nsigma-annonce-card>
</app-paged-grid>

<div class="mat-fab-bottom-right">
  <button mat-fab color="primary" (click)="location.back()"><mat-icon>arrow_back</mat-icon></button>
  <button mat-fab color="primary" routerLink="/nsigma/annonce/-/edit"><mat-icon>add</mat-icon></button>
</div>
