<!-- Loading -->
<div *ngIf="!events.activeEvents" class="spinner-wraper loading">
  <mat-spinner class="spinner"></mat-spinner>
</div>

<!-- Events list -->
<div *ngIf="events.activeEvents && events.activeEvents.length > 0">
  <div *ngFor="let event of events.activeEvents">
    <button mat-raised-button *ngIf="isNotPassed(event)" [color]="color(event)"routerLink="/events/event/{{ event.id }}">
      <h2>{{ event.title }}</h2>
      <label>
        {{ d.format(
          d.l.periodFormat,
          event.start | date:d.l.shortDateTimeFormat:'':d.l.locale,
          event.end | date:d.l.shortDateTimeFormat:'':d.l.locale
        ) }}
      </label>
    </button>
  </div>
</div>

<!-- No event -->
<div *ngIf="events.activeEvents && events.activeEvents.length == 0">
  <mat-card>
    <h3>{{ d.l.noEvent }}</h3>
    <button class="item" mat-raised-button routerLink='/home' color="primary">{{ d.l.backLabel }}</button>
  </mat-card>
</div>
