<!-- Loading -->

<div class="loading-indicator" *ngIf="!actus.actus">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<!-- Actus -->
<div *ngIf="actus.actus && actus.actus.length > 0" class="grid-container">
  <div *ngFor="let actu of actus.actus">
    <mat-card routerLink="/actus/actu/{{ actu.id }}">
      <mat-card-header>
        <img mat-card-avatar src="assets/img/icons/actus.png">
        <mat-card-title>{{ actu.title }}</mat-card-title>
        <mat-card-subtitle> {{ actu.date | date:'fullDate':'':d.l.locale }} - <i>{{ actu.author }}</i> </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ actus.getTaglessDesciption(actu).slice(0,100) }} {{actus.getTaglessDesciption(actu).length > 100 ? '...' : '' }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- No actus -->
<div *ngIf="actus.actus && actus.actus.length == 0">
  <mat-card class="center">
    <h3>{{ d.l.noActu }}</h3>
  </mat-card>
</div>

<button mat-fab class="mat-fab-bottom-right" color="primary"
        (click)="location.back()">
  <mat-icon>arrow_back</mat-icon>
</button>
