<!-- Loading -->
<div *ngIf="!actus.actus" class="spinner-wrapper loading">
  <mat-spinner class="spinner"></mat-spinner>
</div>

<!-- Actus -->
<div *ngIf="actus.actus && actus.actus.length > 0">
  <div *ngFor="let actu of actus.actus">
    <button mat-raised-button routerLink="/actus/actu/{{ actu.id }}">
      <h2>{{ actu.title }}</h2>
    </button>
  </div>
</div>

<!-- No actus -->
<div *ngIf="actus.actus && actus.actus.length == 0">
  <mat-card>
    <h3>{{ d.l.noActu }}</h3>
    <button class="item" mat-raised-button routerLink='/home' color="primary">{{ d.l.backLabel }}</button>
  </mat-card>
</div>
