<!-- Loading -->
<div *ngIf="!actus.actus" class="spinner-wrapper loading">
  <mat-spinner class="spinner"></mat-spinner>
</div>

<!-- Actus -->
<div *ngIf="actus.actus && actus.actus.length > 0">
  <div *ngFor="let actu of actus.actus">
    <button mat-raised-button routerLink="/actus/actu/{{ actu.id }}">
      <h2>{{ actu.title }}</h2>
    </button>
  </div>
</div>

<!-- No actus -->
<div *ngIf="actus.actus && actus.actus.length == 0">
  <mat-card class="center">
    <h3>{{ d.l.noActu }}</h3>
  </mat-card>
</div>

<button mat-fab class="mat-fab-bottom-right" color="primary"
        (click)="location.back()">
  <mat-icon>arrow_back</mat-icon>
</button>
