<!-- Loading -->
<app-loading [loading]="nbOfAllAccounts | async"></app-loading>

<div *ngIf="nbOfAllAccounts | async">
	<mat-card>
		<div>{{ this.d.format(this.d.l.nbOfRegisteredCafetAccountsLabel, nbOfAllAccounts | async) }}</div>
		<div>{{ this.d.format(this.d.l.totalOnRegisteredCafetAccountsLAbel, totalOnAccounts | async) }}€</div>
	</mat-card>

	<mat-card>
		<div>{{ this.d.format(this.d.l.nbOfPositiveCafetAccountsLabel, nbOfPosAccounts | async) }}</div>
		<div>{{ this.d.format(this.d.l.totalOnPositiveCafetAccountsLabel, totalOfPositive | async) }}€</div>
	</mat-card>

	<mat-card>
		<div>{{ this.d.format(this.d.l.nbOfNegativeCafetAccountsLabel, nbOfNegAccounts | async) }}</div>
		<div>{{ this.d.format(this.d.l.totalOnNegativeCafetAccountsLabel, totalOfNegative | async) }}€</div>
	</mat-card>
</div>
