<!-- Loading -->
<mat-card *ngIf="nbOfAllAccounts == 0" class="spinner-wraper">
  <mat-spinner class="spinner"></mat-spinner>
</mat-card>

<div *ngIf="nbOfAllAccounts > 0">
  <mat-card>
    <div>{{ d.format(d.l.numberOfAllAccountsLabel, nbOfAllAccounts) }}</div>
    <div>{{ d.format(d.l.totalOfAllAccountsLabel, totalOnAccounts.toFixed(2)) }}</div>
  </mat-card>

  <mat-card>
    <div>{{ d.format(d.l.numberOfNegAccountsLabel, nbOfNegAccounts) }}</div>
    <div>{{ d.format(d.l.totalOfNegativeAccountsLabel, totalOfNegative.toFixed(2)) }}</div>
  </mat-card>

  <mat-card>
    <div>{{ d.format(d.l.numberOfPosAccountsLabel, nbOfPosAccounts) }}</div>
    <div>{{ d.format(d.l.totalOfPositiveAccountsLabel, totalOfPositive.toFixed(2)) }}</div>
  </mat-card>
</div>

<!-- Loading -->
<mat-card *ngIf="!trezo" class="spinner-wraper">
  <mat-spinner class="spinner"></mat-spinner>
</mat-card>

<div *ngIf="trezo">

  <!-- Users display, small screens -->

  <div *ngIf="media.mobileSize">
    <mat-card *ngFor="let user of trezo">
      <div class="client-small">
        <span class="text">
          <span>{{ cafet.getUserName(user) }}</span>
        </span>
        <span>
          <button mat-icon-button (click)="openHistory(user)" class="history" matSuffix><mat-icon>history</mat-icon></button>
          <span>{{ user.credit.toFixed(2) }}€</span>
        </span>
      </div>

      <span>
        <form (ngSubmit)="transaction(user, false)">
          <mat-form-field>
            <input type='number' matInput placeholder="{{ d.l.substractButtonLabel }}" [formControl]="controls[user.emailId].sub" autocomplete="off">
          </mat-form-field>
          <button mat-button
            type="submit"
            [disabled]="controls[user.emailId].sub.invalid"
            color="primary"
          >{{ d.l.substractButtonLabel }}</button>
        </form>
      </span>

      <span>
        <form (ngSubmit)="transaction(user, true)">
          <mat-form-field>
            <input type='number' matInput placeholder="{{ d.l.addButtonLabel }}" [formControl]="controls[user.emailId].add" autocomplete="off">
          </mat-form-field>
          <button mat-button
            type="submit"
            [disabled]="controls[user.emailId].add.invalid"
            color="primary"
          >{{ d.l.addButtonLabel }}</button>
        </form>
      </span>
    </mat-card>
  </div>

  <!-- Users display, large screens -->
  <div *ngIf="!media.mobileSize">
    <mat-card *ngFor="let user of trezo">
      <div class="client-large">
        <span class="text">
          <span>{{ cafet.getUserName(user) }}</span>
        </span>
        <span>
          <button mat-icon-button (click)="openHistory(user)" class="history" matSuffix><mat-icon>history</mat-icon></button>
          <span>{{ user.credit.toFixed(2) }}€</span>
        </span>
        <span>
          <form (ngSubmit)="transaction(user, false)">
            <mat-form-field>
              <input type='number' matInput placeholder="{{ d.l.substractButtonLabel }}" [formControl]="controls[user.emailId].sub" autocomplete="off">
            </mat-form-field>
            <button mat-button
              type="submit"
              [disabled]="controls[user.emailId].sub.invalid"
              color="primary"
            >{{ d.l.substractButtonLabel }}</button>
          </form>
        </span>

        <span>
          <form (ngSubmit)="transaction(user, true)">
            <mat-form-field>
              <input type='number' matInput placeholder="{{ d.l.addButtonLabel }}" [formControl]="controls[user.emailId].add" autocomplete="off">
            </mat-form-field>
            <button mat-button
              type="submit"
              [disabled]="controls[user.emailId].add.invalid"
              color="primary"
            >{{ d.l.addButtonLabel }}</button>
          </form>
        </span>
      </div>
    </mat-card>
  </div>
<div>
