<app-loading [loading]="users"></app-loading>

<div class="width">
  <!-- Header display -->
  <mat-card *ngIf="users" class="group">
    <h3>{{ d.format(d.l.nbMembersLabel, users.length) }}</h3>
    <form [formGroup]="usersCtrl">
      <mat-form-field class="search">
        <input matInput placeholder="{{ d.l.search }}" formControlName="search" autocomplete="off">
        <button mat-icon-button matSuffix><mat-icon>search</mat-icon></button>
      </mat-form-field>
      <mat-checkbox *ngFor="let adminString of adminsStrings" [formControlName]="adminString + 'Admins'" color="primary">{{ d.l[adminString + 'AdminLabel'] }}</mat-checkbox>
    </form>
  </mat-card>

  <!-- Users display -->
  <div *ngIf="displayedUsers">
    <mat-accordion>
      <div *ngFor="let user of displayedUsers | slice:(pageIndex*pageSize):(pageIndex+1)*pageSize">
        <mat-expansion-panel *ngIf="user[user.uid]">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ getName(user) }}
            </mat-panel-title>
            <mat-panel-description *ngIf="!media.mobileSize">
              {{ user[user.uid].admin.email }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div style="text-align: right">
            <mat-slide-toggle *ngFor="let adminString of adminsStrings" [checked]="isUserAdminOf(user, adminString)" (change)="setUserAdminOf(user[user.uid].admin.email, user.uid, adminString, $event.checked)" color="primary">{{ d.l[adminString + 'AdminLabel'] }}</mat-slide-toggle>
           </div>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
    <mat-paginator [length]="displayedUsers.length"
                  [pageSize]="pageSize"
                  (page)="updateList($event)">
    </mat-paginator>
  </div>
</div>
