mat-slide-toggle {
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 8px;
}

.width {
  max-width: 800px;
  margin: auto
}

.group {
  margin-bottom: 4px;
}

.search {
  width: 100%;
}

mat-checkbox {
  margin-left: 12px;
  margin-right: 12px;
}

mat-paginator {
  margin-top: 4px;
}
