button {
  margin-left: 8px;
  margin-right: 8px;
}

mat-form-field {
  width: 100%;
}

.large {
  width: 300px;
}

.domain {
  max-width: 150px;
}

mat-card {
  margin-bottom: 4px;
}

mat-card img {
  vertical-align: middle;
  margin: 20px !important;
}

mat-expansion-panel {
  margin-bottom: 4px;
}
