<!-- Loading -->
<div class="loading-indicator" *ngIf="!actu">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<!-- Actu display -->
<mat-card *ngIf="actu">
  <mat-card-header>
    <img mat-card-avatar src="assets/img/icons/actus.png">
    <mat-card-title>{{ actu.title }}</mat-card-title>
    <mat-card-subtitle> {{ actu.date | date:'fullDate':'':d.l.locale }} - <i>{{ actu.author }}</i> </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <markdown [data]="actu.description"></markdown>
    <iframe *ngIf="actu.pdfLink !== ''"  [src]="this.safeUrl"></iframe><br>
    <img *ngIf="actu.image !== ''" mat-card-image src="{{ actu.image }}"><br>
  </mat-card-content>
</mat-card>

<button mat-fab class="mat-fab-bottom-right" color="primary"
        (click)="location.back()">
  <mat-icon>arrow_back</mat-icon>
</button>
