<mat-tab-group>
  <mat-tab label="{{ d.l.events }}">
    <div *ngIf="!deleteEventId">
        <mat-card *ngFor="let event of events.events">
          <h2>{{ event.title }}</h2>
          <button mat-icon-button routerLink="/events/event/{{ event.id }}"><mat-icon>search</mat-icon></button>
          <button mat-icon-button (click)="delete(event.id, event.title)"><mat-icon>delete</mat-icon></button>
        </mat-card>
        <mat-card *ngIf="events.events.length == 0">
          <h3>{{ d.l.noEvent }}</h3>
        </mat-card>
    </div>

    <div *ngIf="deleteEventId">
      <mat-card class="message">
        <h3 [innerHTML]="d.format(d.l.confirmEventDeleteInfo, deleteEventTitle)"></h3>
        <button mat-raised-button (click)="confirmDelete()" color="warn">{{ d.l.confirmEventDeleteLabel }}</button>
        <button mat-raised-button (click)="back()" color="primary">{{ d.l.backLabel }}</button>
      </mat-card>
    </div>
  </mat-tab>

  <mat-tab label="{{ d.l.comRespPlLabel }}">
    <mat-card *ngIf="comResps">
      <span *ngIf="error" class="error">{{ error }}</span>

      <mat-form-field [class.large]="!media.mobileSize">
        <input matInput placeholder="{{ d.l.addComRespInfo }}" [formControl]="emailCtrl">
        <button mat-icon-button matSuffix><mat-icon>search</mat-icon></button>
      </mat-form-field>
      <button mat-raised-button
        (click)="addComResp()"
        [disabled]="emailCtrl.invalid || displayedUsers.length != 0"
        color="primary"
      >{{ d.l.addComRespButtonLabel }}</button>
    </mat-card>

    <mat-card *ngIf="displayedUsers.length != 0">
      <mat-nav-list>
        <a mat-list-item *ngFor="let user of displayedUsers">
          {{ tools.titleCase(user.emailId.split('|').join(' ')) }}
          <button mat-icon-button matSuffix (click)="events.removeComResp(user.emailId)"><mat-icon>delete</mat-icon></button>
        </a>
      </mat-nav-list>
    </mat-card>
  </mat-tab>
</mat-tab-group>
