<h2 mat-dialog-title>Changement de mot de passe</h2>
<mat-dialog-content>
  Saisissez votre nouveau mot de passe :<br>
  <form [formGroup]="formGroup" class="container">
    <mat-form-field>
      <input matInput placeholder="Nouveau mot de passe" formControlName="password_ctrl" autocomplete="off" [type]="hidePwd ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hidePwd = !hidePwd">{{hidePwd ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="formGroup.get('password_ctrl').invalid">Mot de passe invalide</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Confirmation" formControlName="password_conf_ctrl" autocomplete="off" [type]="hidePwdConf ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hidePwdConf = !hidePwdConf">{{hidePwdConf ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="formGroup.get('password_conf_ctrl').invalid">Confirmation invalide</mat-error>
    </mat-form-field>
  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Annuler</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [disabled]="formGroup.invalid" [mat-dialog-close]="{password: formGroup.get('password_ctrl').value}" color="primary">Mettre à jour le mot de passe</button>
</mat-dialog-actions>
