<h2 mat-dialog-title>{{ d.l.changePasswordTitle }}</h2>
<mat-dialog-content>
  {{ d.l.changePasswordInfo }}<br>
  <form [formGroup]="formGroup" class="container">
    <mat-form-field>
      <input matInput placeholder="Nouveau mot de passe" formControlName="password" autocomplete="off" [type]="hidePwd ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hidePwd = !hidePwd">{{hidePwd ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="formGroup.get('password').invalid">{{ d.l.passwordError }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Confirmation" formControlName="password_conf" autocomplete="off" [type]="hidePwdConf ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hidePwdConf = !hidePwdConf">{{hidePwdConf ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="formGroup.get('password_conf').invalid">{{ d.l.passwordConfirmationError }}</mat-error>
    </mat-form-field>
  </form>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>{{ d.l.cancelLabel }}</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [disabled]="formGroup.invalid" [mat-dialog-close]="{password: formGroup.get('password').value}" color="primary">{{ d.l.pwdChangeValidationButtonLabel }}</button>
</mat-dialog-actions>
