<div class="container">
  <div>
    <mat-card>

      <div *ngIf="!sent" class="container">
        <p [innerHTML]="d.l.beforePwdRstEmailInfo"></p>
        <mat-form-field>
          <input matInput placeholder="{{ d.l.askForExistingEmailLabel }}" [formControl]="email_ctrl" required autocomplete="off">
          <mat-error *ngIf="email_ctrl.invalid">{{ auth.getEmailErrorMessage(email_ctrl) }}</mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="sent" class="container">
        <p [innerHTML]="d.format(d.l.afterPwdRstEmailInfo, email)"></p>
      </div>

    </mat-card>
  </div>
</div>

<div class="mat-fab-bottom-right">
  <button mat-fab color="primary" (click)="location.back()"><mat-icon>arrow_back</mat-icon></button>
  <button *ngIf="!sent" mat-fab color="primary"
          (click)="sendEmail()"
          [disabled]="email_ctrl.invalid">
    <mat-icon>send</mat-icon>
  </button>
</div>
