mat-card {
  margin-top: 4px;
}

button {
  margin-left: 16px;
  margin-right: 16px;
}

mat-slide-toggle {
  margin-left: 16px;
  margin-right: 16px;
}

.message {
  max-width: 500px;
  margin: auto;
}

mat-form-field {
  width: 100%;
}

.large {
  width: 400px;
}
