mat-card {
  margin: 5px;
	margin-left: 0px;
	margin-right: 0px;
}

mat-card button {
  margin-left: 16px;
  margin-right: 16px;
}

mat-slide-toggle {
  margin-left: 16px;
  margin-right: 16px;
}

mat-form-field {
  width: 100%;
}

.large {
  width: 400px;
}
