<div class="loading-indicator" *ngIf="tabGroup.selectedIndex ? !journalists : !actus.actus">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<mat-tab-group #tabGroup>

  <!-- Actus tab -->
  <mat-tab label="{{ d.l.actus }}">

    <!-- Actus -->
    <div *ngIf="actus.actus && actus.actus.length > 0" class="grid-container">
      <div *ngFor="let actu of actus.actus">
        <mat-card routerLink="/actus/actu/{{ actu.id }}">
          <mat-card-header>
            <img mat-card-avatar src="assets/img/icons/actus.png">
            <mat-card-title>{{ actu.title }}</mat-card-title>
            <mat-card-subtitle> {{ actu.date | date:'fullDate':'':d.l.locale }} - <i>{{ actu.author }}</i> </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{ actus.getTaglessDesciption(actu).slice(0,100) }} {{actus.getTaglessDesciption(actu).length > 100 ? '...' : '' }}</p>
          </mat-card-content>
          <mat-card-actions style="text-align: center">
            <button mat-icon-button routerLink="/actus/actu/{{ actu.id }}"><mat-icon>search</mat-icon></button>
            <button mat-icon-button routerLink="/actus/actu/{{ actu.id }}/edit"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button (click)="delete(annonce.id, annonce.title)"><mat-icon>delete</mat-icon></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <!-- No actus -->
    <div *ngIf="actus.actus && actus.actus.length == 0">
      <mat-card class="center">
        <h3>{{ d.l.noActu }}</h3>
      </mat-card>
    </div>
  </mat-tab>

  <!-- Journalists tab -->
  <mat-tab label="{{ d.l.journalistPlLabel }}">

    <!-- Com resps -->
    <div *ngIf="journalists">

      <!-- Header display -->
      <mat-card>
        <span *ngIf="error" class="error">{{ error }}</span>

        <mat-form-field [class.large]="!media.mobileSize">
          <input matInput placeholder="{{ d.l.addJournalistInfo }}" [formControl]="emailCtrl" autocomplete="off">
          <button mat-icon-button matSuffix><mat-icon>search</mat-icon></button>
        </mat-form-field>
        <button mat-raised-button
          (click)="addJournalist()"
          [disabled]="emailCtrl.invalid || displayedUsers.length != 0"
          color="primary"
        >{{ d.l.addJournalistButtonLabel }}</button>
      </mat-card>

      <!-- Users display -->
      <mat-card *ngIf="displayedUsers.length != 0">
        <mat-nav-list>
          <a mat-list-item *ngFor="let user of displayedUsers">
            {{ tools.titleCase(user.emailId.split('|').join(' ')) }}
            <button mat-icon-button matSuffix (click)="actus.removeJournalist(user.emailId)"><mat-icon>delete</mat-icon></button>
          </a>
        </mat-nav-list>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="mat-fab-bottom-right">
  <button mat-fab color="primary" (click)="location.back()"><mat-icon>arrow_back</mat-icon></button>
</div>
