.client-group {
  margin-top: 4px;
}

.client-group button {
  margin-left: 16px;
  margin-right: 16px;
}

.client-large {
  display: grid;
  grid-template-columns: 30% 20% 25% 25%;
  text-align: left;
  vertical-align: center;
}

.client-large mat-form-field {
  max-width: 100px;
}

.client-large span {
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 0;
}

.client-large button {
  margin-left: 4px;
  margin-right: 4px;
}

.client-large .text {
  margin-top: 19px;
}

.client-large .history {
  margin-top: 8px;
}

.accounts-card {
  margin-bottom: 4px;
}

.accounts-search {
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

.accounts-search button {
  margin-top: 12px;
}

.accounts-input-width {
  width: 300px;
}
