<mat-tab-group (selectedTabChange)="cafet.pdf = null">

  <!-- Clients tab -->
  <mat-tab label="{{ d.l.clientListLabel }}">

    <!-- Loading -->
    <mat-card *ngIf="!users" class="spinner-wraper">
      <mat-spinner class="spinner"></mat-spinner>
    </mat-card>

    <!-- Clients -->
    <div *ngIf="users">

      <!-- Header -->
      <mat-card *ngIf="users">
        <form [formGroup]="searchCtrl">

          <span *ngIf="error" class="error">{{ error }}</span>

          <div class="container">
            <mat-form-field>
              <input matInput placeholder="{{ d.l.cafetSearchInfo }}" formControlName="email" autocomplete="off">
              <button mat-icon-button matSuffix><mat-icon>search</mat-icon></button>
            </mat-form-field>
          </div>

        </form>
      </mat-card>

      <!-- Users display, small screens -->
      <mat-accordion *ngIf="!media.largeSize" class="client-group">
        <mat-expansion-panel *ngFor="let user of displayedUsers | slice:pageIndex*pageSize:(pageIndex+1)*pageSize">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ tools.titleCase(user.emailId.split('|').join(' ')) }}
            </mat-panel-title>
            <mat-panel-description>
              {{ user.credit }}€
            </mat-panel-description>
          </mat-expansion-panel-header>

          <form (ngSubmit)="transaction(user, false)">
            <span>
              <mat-form-field>
                <input type='number' matInput placeholder="{{ d.l.substractButtonLabel }}" [formControl]="controls[user.emailId].sub" autocomplete="off">
              </mat-form-field>
              <button mat-button
                type="submit"
                [disabled]="controls[user.emailId].sub.invalid"
                color="primary"
              >{{ d.l.substractButtonLabel }}</button>
            </span>
          </form>
          <form (ngSubmit)="transaction(user, true)">
            <span>
              <mat-form-field>
                <input type='number' matInput placeholder="{{ d.l.addButtonLabel }}" [formControl]="controls[user.emailId].add" autocomplete="off">
              </mat-form-field>
              <button mat-button
                type="submit"
                [disabled]="controls[user.emailId].add.invalid"
                color="primary"
              >{{ d.l.addButtonLabel }}</button>
            </span>
          </form>
          <button mat-icon-button (click)="openHistory(user)" matSuffix><mat-icon>history</mat-icon></button>
        </mat-expansion-panel>
      </mat-accordion>

      <!-- Users display, large screens -->
      <div *ngIf="media.largeSize" class="client-group">
        <mat-card *ngFor="let user of displayedUsers | slice:pageIndex*pageSize:(pageIndex+1)*pageSize">
          <div class="client-large">
            <span class="text">{{ tools.titleCase(user.emailId.split('|').join(' ')) }}</span>
            <span>
              <button mat-icon-button (click)="openHistory(user)" class="history" matSuffix><mat-icon>history</mat-icon></button>
              <span>{{ user.credit.toFixed(2) }}€</span>
            </span>
            <span>
              <form (ngSubmit)="transaction(user, false)">
                <mat-form-field>
                  <input type='number' matInput placeholder="{{ d.l.substractButtonLabel }}" [formControl]="controls[user.emailId].sub" autocomplete="off">
                </mat-form-field>
                <button mat-button
                  type="submit"
                  [disabled]="controls[user.emailId].sub.invalid"
                  color="primary"
                >{{ d.l.substractButtonLabel }}</button>
              </form>
            </span>

            <span>
              <form (ngSubmit)="transaction(user, true)">
                <mat-form-field>
                  <input type='number' matInput placeholder="{{ d.l.addButtonLabel }}" [formControl]="controls[user.emailId].add" autocomplete="off">
                </mat-form-field>
                <button mat-button
                  type="submit"
                  [disabled]="controls[user.emailId].add.invalid"
                  color="primary"
                >{{ d.l.addButtonLabel }}</button>
              </form>
            </span>
          </div>
        </mat-card>
      </div>

      <!-- Paginator -->
      <mat-paginator
        [length]="displayedUsers.length"
        [pageSize]="pageSize"
        (page)="updateList($event)"
        class="client-group"
      ></mat-paginator>
    </div>
  </mat-tab>

  <!-- Accounts tab -->
  <mat-tab label="{{ d.l.cafetAccountsLabel }}">

    <!-- Loading -->
    <mat-card *ngIf="!users" class="spinner-wraper">
      <mat-spinner class="spinner"></mat-spinner>
    </mat-card>

    <!-- Accounts management -->
    <div *ngIf="users">

      <!-- Print accounts -->
      <mat-card class="accounts-card">
        <button *ngIf="!cafet.pdf" mat-raised-button (click)="cafet.printAccountsPdf(users)" color="primary">{{ d.l.printAccountsToPdf }}</button>
        <button *ngIf="cafet.pdf" mat-raised-button (click)="cafet.pdf = null" color="primary">{{ d.l.leaveAccountsToPdfPreview }}</button>
        <button mat-raised-button (click)="cafet.saveAccountsPdf(users)" color="primary">{{ d.l.saveAccountsToPdf }}</button>

        <iframe *ngIf="cafet.pdf" width='100%' height='50vh'  style="height: 60vh;" type="application/pdf" name="cafet.pdfName" [src]="cafet.pdf"></iframe>
      </mat-card>

      <!-- Create account -->
      <mat-card *ngIf="!cafet.pdf">
        <form [formGroup]="accountCtrl">

          <span *ngIf="error" class="error">{{ error }}</span>

          <div [class.accounts-search]="media.largeSize">
            <mat-form-field [class.account-inputs-width]="!media.largeSize">
              <input matInput placeholder="{{ d.l.cafetEmailInfo }}" formControlName="email" autocomplete="off">
              <mat-hint *ngIf="accountCtrl.get('email').valid && matchUsers.length > 0">{{ d.format(d.l.cafetAccountsMatch, matchUsers.length) }}</mat-hint>
            </mat-form-field>

            <span>
              <mat-form-field>
                <input matInput type="number" placeholder="{{ d.l.creditLabel }}" formControlName="credit" autocomplete="off">
              </mat-form-field>
            </span>
            <span>
              <button mat-raised-button
                type="submit"
                (click)="createCafetAccount()"
                [disabled]="accountCtrl.invalid || matchUsers.length != 0"
                color="primary"
              >{{ d.l.createAccountLabel }}</button>
            </span>
          </div>
        </form>
      </mat-card>
    </div>
  </mat-tab>

</mat-tab-group>
