<mat-tab-group dynamicHeight (selectedIndexChange)="index=$event">

  <!-- Clients tab -->
  <mat-tab label="{{ d.l.clientListLabel }}">

    <!-- Clients -->
    <app-cafet-admin-users *ngIf="index == 0"></app-cafet-admin-users>

  </mat-tab>

  <!-- Accounts tab -->
  <mat-tab label="{{ d.l.cafetAccountsLabel }}">

    <!-- Accounts -->
    <app-cafet-admin-accounts *ngIf="index == 1"></app-cafet-admin-accounts>

  </mat-tab>

  <!-- Archives tab -->
  <mat-tab label="{{ d.l.cafetArchivesLabel }}">

    <!-- Archives -->
    <app-cafet-admin-archives *ngIf="index == 2"></app-cafet-admin-archives>

  </mat-tab>

  <!-- Resps tab -->
  <mat-tab label="{{ d.l.cafetRespPlLabel }}">

    <!-- Resps -->
    <app-cafet-admin-resps *ngIf="index == 3"></app-cafet-admin-resps>

  </mat-tab>

  <!-- Resps tab -->
  <mat-tab label="{{ d.l.cafetTrezoLabel }}">

    <!-- Resps -->
    <app-trezo *ngIf="index == 4"></app-trezo>

  </mat-tab>

</mat-tab-group>
