<div class="thin-container">
	<div *ngIf="auth.isLogged() | async" class="infos">
		<mat-accordion>
			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title>
						{{ d.l.legalNoticeLabel }}
					</mat-panel-title>
				</mat-expansion-panel-header>
				<app-legal-notice></app-legal-notice>
			</mat-expansion-panel>
			<mat-expansion-panel expanded="true">
				<mat-expansion-panel-header>
					<mat-panel-title>
						{{ d.l.faqLabel }}
					</mat-panel-title>
				</mat-expansion-panel-header>
				<app-faq></app-faq>
			</mat-expansion-panel>
			<mat-expansion-panel expanded="true">
				<mat-expansion-panel-header>
					<mat-panel-title>
						{{ d.l.userGuideLabel }}
					</mat-panel-title>
				</mat-expansion-panel-header>
				<app-readme></app-readme>
			</mat-expansion-panel>
		</mat-accordion>
	</div>
</div>

<div *ngIf="!(auth.isLogged() | async)" class="infos">
	<mat-accordion>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					{{ d.l.legalNoticeLabel }}
				</mat-panel-title>
			</mat-expansion-panel-header>
			<app-legal-notice></app-legal-notice>
		</mat-expansion-panel>
		<mat-expansion-panel expanded="true">
			<mat-expansion-panel-header>
				<mat-panel-title>
					{{ d.l.faqLabel }}
				</mat-panel-title>
			</mat-expansion-panel-header>
			<app-faq></app-faq>
		</mat-expansion-panel>
	</mat-accordion>
</div>

<div class="mat-fab-bottom-right">
	<button mat-fab color="primary" (click)="location.back()"><mat-icon>arrow_back</mat-icon></button>
</div>

<div class="fab-btn-placeholder"></div>
