<div *ngIf="auth.isLogged() | async" class="infos">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ d.l.legalNoticeLabel }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-legal-notice></app-legal-notice>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ d.l.userGuideLabel }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-readme></app-readme>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div *ngIf="!(auth.isLogged() | async)" class="infos">
    <mat-card>
        <app-legal-notice></app-legal-notice>
    </mat-card>
</div>

<div class="mat-fab-bottom-right">
  <button mat-fab color="primary" (click)="location.back()"><mat-icon>arrow_back</mat-icon></button>
</div>
