<app-loading [loading]="formGroup"></app-loading>

<div class="thin-container">
	<mat-card *ngIf="formGroup">
	  <h2>{{ d.l.calSettingsTitle }}</h2>

	  <form [formGroup]="formGroup" class="container">

	    <mat-form-field>
	      <textarea matInput placeholder="{{ d.l.calSettingsResourcesLabel }}" formControlName="resources"></textarea>
	      <mat-error *ngIf="formGroup.get('resources').invalid">{{ d.l.calSettingsResourcesError }}</mat-error>
	    </mat-form-field>
	    <br>
	    <mat-divider></mat-divider>
	    <div style="text-align: center">
	      <br>
				<div [innerHTML]="d.l.gatherFromAdeInfo"></div>
	      <br>
	      <button mat-raised-button color="primary" (click)="gatherFromAde()">{{ d.l.gatherFromAdeButtonLabel }}</button>
	    </div>
			<br>
	    <mat-divider></mat-divider>
	    <div style="text-align: center">
	      <br>
				<div [innerHTML]="d.l.displayICSDownloadInfo"></div>
	      <br>
				<mat-slide-toggle formControlName="icsDownload" color="primary"></mat-slide-toggle>
	    </div>
	      <!-- <span *ngIf="!formGroup.get('done').value">{{ d.l.jobadOngoing }}</span>
	      <span *ngIf="formGroup.get('done').value">{{ d.l.jobadDone }}</span> -->
	  </form>
	</mat-card>
</div>

<div class="mat-fab-bottom-right">
  <button mat-fab color="primary" (click)="location.back()"><mat-icon>arrow_back</mat-icon></button>
  <button mat-fab color="primary" *ngIf="formGroup"
          (click)="submit()"
          [disabled]="formGroup.invalid || formGroup.pristine">
    <mat-icon>save</mat-icon>
  </button>
</div>

<div class="fab-btn-placeholder"></div>
