<app-loading [loading]="formGroup"></app-loading>

<mat-card *ngIf="formGroup">
  <h2>{{ d.l.calSettingsTitle }}</h2>

  <form [formGroup]="formGroup" class="container">

    <span *ngIf="error" class="error">{{ error }}</span>
    <mat-form-field>
      <textarea matInput placeholder="{{ d.l.calSettingsRessourcesLabel }}" formControlName="resources"></textarea>
      <mat-error *ngIf="formGroup.get('resources').invalid">{{ d.l.calSettingsRessourcesError }}</mat-error>
    </mat-form-field>
    <br>
    <mat-divider></mat-divider>
    <div style="text-align: center">
      <br><b>Kézako ?</b><br><br>Laissez cette application récupérer automatiquement cette information depuis votre espace ADE.
      <br>
      <button mat-raised-button color="secondary" (click)="gatherFromAde()">Récupérer via ADE</button>
    </div>
  </form>
</mat-card>

<div class="mat-fab-bottom-right">
  <button mat-fab color="primary" (click)="location.back()"><mat-icon>arrow_back</mat-icon></button>
  <button mat-fab color="primary" *ngIf="formGroup"
          (click)="submit()"
          [disabled]="formGroup.invalid || formGroup.pristine">
    <mat-icon>save</mat-icon>
  </button>
</div>
