<!-- Loading -->
<div class="loading-indicator" *ngIf="!poll">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<div *ngIf="poll">
  <div>
    <h1>{{ poll.title }}</h1>
    <h3>{{ poll.description }}</h3>
  </div>

  <div *ngIf='!selectedChoice' class="grid-container">
    <div *ngFor="let choice of choices">
      <mat-card class="wrapper">
        <mat-card-title>{{ choice.label }}</mat-card-title>
        <img mat-card-image src="{{ choice.image }}" alt="{{ choice.label }} - image" class="image">
        <mat-card-actions>
          <button mat-raised-button [disabled]="!poll.started" (click)="onVote(choice);" color="primary">{{ d.l.voteForLabel }} {{ choice.short || choice.label }}</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div *ngIf='selectedChoice'>
    <h2>{{ d.l.choiceSelectionInfo }}</h2>
    <mat-card class="final">
      <mat-card-title>{{ selectedChoice.label }}</mat-card-title>
      <img mat-card-image src="{{ selectedChoice.image }}" alt="{{ selectedChoice.label }} logo">
    </mat-card>
    <button mat-raised-button color="primary" class="confirm-btn" (click)='onConfirm(selectedChoice)'>{{ d.l.confirmLabel }}</button>
    <button mat-raised-button color="warn" class="confirm-btn" (click)='onCancel()'>{{ d.l.cancelLabel }}</button>
  </div>
</div>
