<app-loading [loading]="cal.getMyEventsForDay(date) | async"></app-loading>

<div class="day-column">
	<div *ngIf="media.largeSize" class="header">
	  <mat-card class="center">
	    <label>{{ date | date:d.l.shortDateFormat:'':d.l.locale | uppercase }}</label>
	  </mat-card>
	</div>
  <div *ngIf="cal.getMyEventsForDay(date) | async as events">
    <div *ngIf="events.length; else noEvents">
			<div *ngFor="let event of events" class="item">
	      <mat-card class="event center"
	                [class.border]="event.isNow() && event.isCourse()"
	                [class.perso]="event.isPerso()" [class.assos]="event.isAssos()">
	        {{ event.title }}<br>
	        <label *ngIf="event.isSingleDay()">
	          {{ event.start | date:d.l.timeFormat:'':d.l.locale }} - {{ event.end | date:d.l.timeFormat:'':d.l.locale }}
	        </label>
	        <label *ngIf="!event.isSingleDay()">
	          {{ event.start | date:d.l.shortDateTimeFormat:'':d.l.locale }} <br>à<br> {{ event.end | date:d.l.shortDateTimeFormat:'':d.l.locale }}
	        </label>
	        <br>
	        {{ event.location }}<br>
	        <button mat-icon-button *ngIf="event.isAssos() && !editing" routerLink="/events/event/{{ event.id }}"><mat-icon>search</mat-icon></button>
	      </mat-card>
	    </div>
    </div>
    <ng-template #noEvents>
			<div class="item">
	      <mat-card class="no-events center">
	        {{ d.l.noCalEvent }}
	      </mat-card>
			</div>
    </ng-template>
  </div>

</div>
