<mat-tab-group #tabGroup>
  <!-- Polls tab -->
  <mat-tab label="{{ d.l.polls }}">

    <!-- Polls display -->
    <app-paged-grid [list]="vote.polls" #pages>
      <app-vote-card *ngFor="let poll of pages.truncatedList()"
                     [poll]="poll"
                     [admin]="true">
      </app-vote-card>
    </app-paged-grid>
  </mat-tab>

  <mat-tab label="{{ d.l.assessorPlLabel }}">

    <!-- Users display -->
    <div *ngIf="assessors">
      <mat-card>
        <span *ngIf="error" class="error">{{ error }}</span>

        <mat-form-field [class.large]="!media.mobileSize">
          <input matInput placeholder="{{ d.l.addAssessorInfo }}" [formControl]="emailCtrl" autocomplete="off">
          <button mat-icon-button matSuffix><mat-icon>search</mat-icon></button>
        </mat-form-field>
        <button mat-raised-button
          (click)="addAssessor()"
          [disabled]="emailCtrl.invalid || displayedUsers.length != 0"
          color="primary"
        >{{ d.l.addAssessorButtonLabel }}</button>
      </mat-card>

      <mat-card *ngIf="displayedUsers.length != 0">
        <mat-nav-list>
          <a mat-list-item *ngFor="let user of displayedUsers">
            {{ tools.titleCase(user.emailId.split('|').join(' ')) }}
            <button mat-icon-button matSuffix (click)="vote.removeAssessor(user.emailId)"><mat-icon>delete</mat-icon></button>
          </a>
        </mat-nav-list>
      </mat-card>
    </div>
    <div *ngIf="!assessors" class="loading-indicator">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  </mat-tab>
</mat-tab-group>

<div class="mat-fab-bottom-right">
  <button mat-fab color="primary" (click)="location.back()"><mat-icon>arrow_back</mat-icon></button>
  <button *ngIf="tabGroup.selectedIndex == 0" mat-fab color="primary" routerLink="/votes/poll/-/edit"><mat-icon>add</mat-icon></button>
</div>
