<!-- Loading -->
<mat-card *ngIf="!actu" class="spinner-wrapper">
  <mat-spinner class="spinner"></mat-spinner>
</mat-card>

<!-- Actu display -->
<mat-card *ngIf="actu">
  <form [formGroup]="actuCtrl" class="container">

    <span *ngIf="error" class="error">{{ error }}</span>

    <mat-form-field>
      <input matInput placeholder="{{ d.l.actuTitleLabel }}" formControlName="title" autocomplete="off">
      <mat-error *ngIf="actuCtrl.get('title').invalid">{{ d.l.actuTitleTooShortError }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="{{ d.l.actuDescriptionLabel }}" formControlName="description"></textarea>
      <mat-error *ngIf="actuCtrl.get('description').invalid">{{ d.l.actuDescriptionError }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="{{ d.l.actuImageLabel }}" formControlName="image" autocomplete="off">
      <mat-error *ngIf="actuCtrl.get('image').invalid">{{ d.l.actuImageError }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="{{ d.l.actuPdfLinkLabel }}" formControlName="pdfLink" autocomplete="off">
      <mat-error *ngIf="actuCtrl.get('pdfLink').invalid">{{ d.l.actuPdfLinkError }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="{{ d.l.actuDateLabel }}" formControlName="date" autocomplete="off">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="actuCtrl.get('date').invalid">{{ d.l.actuDateError }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="{{ d.l.actuAuthorLabel }}" formControlName="author" autocomplete="off">
      <mat-error *ngIf="actuCtrl.get('author').invalid">{{ d.l.actuAuthorError }}</mat-error>
    </mat-form-field>

    <button mat-raised-button
      (click)="onSubmit()" color="primary"
      [disabled]="actuCtrl.invalid"
    >{{ d.l.applyChangesLabel }}</button>

    <button mat-raised-button (click)="back()">{{ d.l.backLabel }}</button>
  </form>
</mat-card>
