<div class="item">
	<app-paged-grid [list]="annonces.getAnnonces() | async" #pages>
	  <app-annonce-card *ngFor="let annonce of pages.truncatedList()"
	                    [annonce]="annonce"
	                    [admin]="true">
	  </app-annonce-card>
	</app-paged-grid>
</div>

<div class="mat-fab-bottom-right">
  <button mat-fab color="primary" (click)="location.back()"><mat-icon>arrow_back</mat-icon></button>
  <button mat-fab color="primary" routerLink="/annonces/annonce/-/edit"><mat-icon>add</mat-icon></button>
</div>

<br><br><br><br><br><br>
