<!-- Loading -->
<app-loading [loading]="getUsers() | async"></app-loading>

<div *ngIf="getUsers() | async as users">
  <!-- Header -->
  <mat-card class="accounts-search">

    <!-- Search account -->
    <form [formGroup]="formGroup">

      <div [class.accounts-search-lg]="media.largeSize" [class.accounts-search-md]="!media.largeSize && ! media.mobileSize" [class.accounts-search-sm]="media.mobileSize">

        <div class="item0 center">
          <span class="search-box">
            <mat-form-field>
              <input matInput placeholder="{{ d.l.emailLabel }}" formControlName="email" autocomplete="off">
              <mat-hint *ngIf="formGroup.get('email').valid && users.length > 0">{{ d.format(d.l.cafetAccountsMatch, users.length) }}</mat-hint>
            </mat-form-field>
            <button mat-icon-button (click)="editing=!editing"><mat-icon>{{ editing ? 'close' : 'edit'}}</mat-icon></button>
          </span>
          <ng-container *ngIf="!editing">
            <mat-checkbox color="primary" formControlName="byCredit">{{ d.l.orderByCreditLabel }}</mat-checkbox>
            <mat-checkbox color="primary" formControlName="byDate">{{ d.l.orderByLastTransactionDateLabel }}</mat-checkbox>
          </ng-container>

        </div>

        <ng-container *ngIf="editing">
          <span class="item1">
            <mat-form-field>
              <input matInput placeholder="{{ d.l.firstNameLabel }}" formControlName="firstName" autocomplete="off">
              <mat-error *ngIf="formGroup.get('firstName').invalid">{{ d.l.firstNameError }}</mat-error>
            </mat-form-field>
          </span>

            <span class="item2">
            <mat-form-field>
              <input matInput placeholder="{{ d.l.lastNameLabel }}" formControlName="lastName" autocomplete="off">
              <mat-error *ngIf="formGroup.get('lastName').invalid">{{ d.l.lastNameError }}</mat-error>
            </mat-form-field>
          </span>

            <span class="item3">
            <mat-form-field>
              <input matInput type="number" placeholder="{{ d.l.creditLabel }}" formControlName="credit" autocomplete="off">
            </mat-form-field>
          </span>

            <span class="item4">
            <button mat-raised-button
                    (click)="tryCreateCafetAccount(); editing=false"
                    [disabled]="formGroup.invalid || users.length !== 0"
                    color="primary"
            >{{ d.l.createAccountLabel }}</button>
          </span>
        </ng-container>

      </div>
    </form>
  </mat-card>

	<div class=".accordion-container">
	  <app-paged-list [list]="users" #page>
	    <!-- Users display, small screens -->
	    <mat-accordion *ngIf="!media.largeSize" class="client-group">
	      <mat-expansion-panel *ngFor="let user of page.truncatedList()">
	        <mat-expansion-panel-header>
	          <mat-panel-title>
	            {{ cafet.getUserName(user) }}
	          </mat-panel-title>
	          <mat-panel-description>
	            {{ user.credit.toFixed(2) }}€
	          </mat-panel-description>
	        </mat-expansion-panel-header>

	        <form (ngSubmit)="transaction(user, false)">
	          <span>
	            <mat-form-field>
	              <input type='number' matInput placeholder="{{ d.l.substractButtonLabel }}" [formControl]="controls[user.emailId].sub" autocomplete="off">
	            </mat-form-field>
	            <button mat-button
	                    type="submit"
	                    [disabled]="controls[user.emailId].sub.invalid"
	                    color="primary"
	            >{{ d.l.substractButtonLabel }}</button>
	          </span>
	        </form>
	        <form (ngSubmit)="transaction(user, true)">
	          <span>
	            <mat-form-field>
	              <input type='number' matInput placeholder="{{ d.l.addButtonLabel }}" [formControl]="controls[user.emailId].add" autocomplete="off">
	            </mat-form-field>
	            <button mat-button
	                    type="submit"
	                    [disabled]="controls[user.emailId].add.invalid"
	                    color="primary"
	            >{{ d.l.addButtonLabel }}</button>
	          </span>
	        </form>
	        <button *ngIf="editing" mat-icon-button (click)="openEditor(user)" matSuffix><mat-icon>edit</mat-icon></button>
	        <button mat-icon-button (click)="openHistory(user)" matSuffix><mat-icon>history</mat-icon></button>
	      </mat-expansion-panel>
	    </mat-accordion>

	    <!-- Users display, large screens -->
	    <div *ngIf="media.largeSize" class="client-group">
	      <mat-card *ngFor="let user of page.truncatedList()">
	        <div class="client-large">
	        <span class="text">
	          <span>{{ cafet.getUserName(user) }}</span>
	        </span>
	          <span>
	            <button *ngIf="editing" mat-icon-button (click)="openEditor(user)" matSuffix><mat-icon>edit</mat-icon></button>
	            <button mat-icon-button (click)="openHistory(user)" class="history" matSuffix><mat-icon>history</mat-icon></button>
	          <span>{{ user.credit.toFixed(2) }}€</span>
	        </span>
	          <span>
	          <form (ngSubmit)="transaction(user, false)">
	            <mat-form-field>
	              <input type='number' matInput placeholder="{{ d.l.substractButtonLabel }}" [formControl]="controls[user.emailId].sub" autocomplete="off">
	            </mat-form-field>
	            <button mat-button
	                    type="submit"
	                    [disabled]="controls[user.emailId].sub.invalid"
	                    color="primary"
	            >{{ d.l.substractButtonLabel }}</button>
	          </form>
	        </span>

	          <span>
	          <form (ngSubmit)="transaction(user, true)">
	            <mat-form-field>
	              <input type='number' matInput placeholder="{{ d.l.addButtonLabel }}" [formControl]="controls[user.emailId].add" autocomplete="off">
	            </mat-form-field>
	            <button mat-button
	                    type="submit"
	                    [disabled]="controls[user.emailId].add.invalid"
	                    color="primary"
	            >{{ d.l.addButtonLabel }}</button>
	          </form>
	        </span>
	        </div>
	      </mat-card>
	    </div>
	  </app-paged-list>
	</div>
</div>
