<div *ngIf="getUserRegistered() | async as status" class="item">
	<div *ngIf="status==='on'">
		<app-paged-grid [list]="vote.getStartedPolls() | async" emptyMessage="{{ d.l.noPoll }}" #pages>
			<app-vote-card *ngFor="let poll of pages.truncatedList()"
							[poll]="poll">
			</app-vote-card>
		</app-paged-grid>
	</div>
	<div *ngIf="status==='off'" class="info">
		<mat-card class="thin-container">
			<div class="error" [innerHTML]="d.l.notOnElectoralRegisterInfo"></div>
		</mat-card>
	</div>
</div>

<div class="mat-fab-bottom-right">
	<button mat-fab color="primary" (click)="location.back()"><mat-icon>arrow_back</mat-icon></button>
</div>

<div class="fab-btn-placeholder"></div>
