<div class="history">

  <!-- Loading -->
  <app-loading [loading]="getData() | async" [fullPage]="false"></app-loading>

  <!-- History -->
  <div *ngIf="getData() | async as tabData" tabindex="0">

    <mat-table [dataSource]="tabData">

      <!-- Date -->
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>{{ d.l.transactionDateLabel }}</mat-header-cell>
        <mat-cell *matCellDef="let log"> {{ log.date | date:d.l.shortDateFormat:'':d.l.locale }} &emsp;</mat-cell>
      </ng-container>

      <!-- Value -->
      <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef>{{ d.l.transactionValueLabel }}</mat-header-cell>
        <mat-cell *matCellDef="let log" [class.plus]="isPlus(log)" [class.minus]="isMinus(log)"> {{ log.value }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['date', 'value']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['date', 'value'];"></mat-row>

    </mat-table>

    <mat-paginator pageSize="12">
    </mat-paginator>

  </div>
	<br>
</div>
