<app-loading [loading]="!loading"></app-loading>

<div class="tab-group-container">
	<mat-tab-group>

		<mat-tab *ngIf="cal.getPersosEvents() | async as events; else loading" label="Personnels">
			<div class="tab-content-container">
				<app-paged-grid [list]="events" emptyMessage="Aucun événement personnel" #pagesPerso>
					<div *ngFor="let event of pagesPerso.truncatedList()" class="wrapper">
						<mat-card class="center">
							{{ getTitle(event) }}<br>
							<label *ngIf="event.isSingleDay()">
								{{ event.start | date:d.l.shortDateTimeFormat:'':d.l.locale }} à {{ event.end | date:d.l.timeFormat:'':d.l.locale }}
							</label>
							<label *ngIf="!event.isSingleDay()">
								{{ event.start | date:d.l.shortDateTimeFormat:'':d.l.locale }} - {{ event.end | date:d.l.shortDateTimeFormat:'':d.l.locale }}
							</label>
							<br>
							{{ getLocation(event) }}<br>
							<button mat-icon-button (click)="openCreateEvent(event.id)"><mat-icon>edit</mat-icon></button>
							<button mat-icon-button (click)="removePersoEvent(event)"><mat-icon>delete</mat-icon></button>
						</mat-card>
					</div>
				</app-paged-grid>
			</div>
		</mat-tab>

		<mat-tab *ngIf="cal.getAssosEventsIParticipate() | async as events; else loading"	label="Associatifs selectionnés">
			<div class="tab-content-container">
				<div *ngIf="cal.getEventIdsIParticipateWithNoEvents() | async as ids;">
					<mat-card *ngIf="ids.length > 0" class="item center">
						<div class="error">
							{{ d.format(d.l.nbOfSubscriptionsToDeletedEvents, ids.length) }}<br><br>
							<button mat-raised-button (click)="cal.removeEventsIParticipate(ids)">{{ d.l.deleteEventSubsciptionsButtonLabel }}</button>
						</div>
					</mat-card>
				</div>
				<app-paged-grid [list]="events" emptyMessage="Aucun événement associatif" #pagesAssos>
					<div *ngFor="let event of pagesAssos.truncatedList()">
						<app-conditional-router-link [enabled]="true" link="/events/event/{{ event.id }}">
							<mat-card class="center">
								{{ event.title }}<br>
								<div *ngIf="event.isSingleDay()">
									{{ event.start | date:d.l.shortDateTimeFormat:'':d.l.locale }} à {{ event.end | date:d.l.timeFormat:'':d.l.locale }}
								</div>
								<div *ngIf="!event.isSingleDay()">
									{{ event.start | date:d.l.shortDateTimeFormat:'':d.l.locale }} - {{ event.end | date:d.l.shortDateTimeFormat:'':d.l.locale }}
								</div>
								{{ event.location }}<br>
							</mat-card>
						</app-conditional-router-link>
					</div>
				</app-paged-grid>
			</div>
		</mat-tab>

		<mat-tab *ngIf="cal.getAssosEventsIDontWant() | async as events2; else loading"	label="Associatifs masqués">
			<div class="tab-content-container">
				<div *ngIf="cal.getEventIdsIDontWantWithNoEvents() | async as ids2;">
					<mat-card *ngIf="ids2.length > 0" class="item center">
						<div class="error">
							{{ d.format(d.l.nbOfSubscriptionsToDeletedEvents, ids2.length) }}<br><br>
							<button mat-raised-button (click)="cal.removeEventsIDontWant(ids2)">{{ d.l.deleteEventSubsciptionsButtonLabel }}</button>
						</div>
					</mat-card>
				</div>
				<app-paged-grid [list]="events2" emptyMessage="Aucun événement associatif" #pagesAssos2>
					<div *ngFor="let event of pagesAssos2.truncatedList()">
						<app-conditional-router-link [enabled]="true" link="/events/event/{{ event.id }}">
							<mat-card class="center">
								{{ event.title }}<br>
								<div *ngIf="event.isSingleDay()">
									{{ event.start | date:d.l.shortDateTimeFormat:'':d.l.locale }} à {{ event.end | date:d.l.timeFormat:'':d.l.locale }}
								</div>
								<div *ngIf="!event.isSingleDay()">
									{{ event.start | date:d.l.shortDateTimeFormat:'':d.l.locale }} - {{ event.end | date:d.l.shortDateTimeFormat:'':d.l.locale }}
								</div>
								{{ event.location }}<br>
							</mat-card>
						</app-conditional-router-link>
					</div>
				</app-paged-grid>
			</div>
		</mat-tab>

	</mat-tab-group>
</div>

<div class="mat-fab-bottom-right">
	<button mat-fab color="primary" (click)="location.back()"><mat-icon>arrow_back</mat-icon></button>
</div>

<div class="fab-btn-placeholder"></div>
