<div class="container">
  <div>
    <mat-card>
      <form [formGroup]="signUpCtrl" (ngSubmit)="submit()" class="container">
        <h2 [innerHTML]="d.l.signUpPageTitle"></h2>

        <span *ngIf="auth.error" class="error">{{ auth.error }}</span>

        <mat-form-field>
          <input matInput placeholder="{{ d.l.firstNameLabel }}" formControlName="firstName" autocomplete="off">
          <mat-error *ngIf="signUpCtrl.get('firstName').invalid">{{ d.l.firstNameError }}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="{{ d.l.lastNameLabel }}" formControlName="lastName" autocomplete="off">
          <mat-error *ngIf="signUpCtrl.get('lastName').invalid">{{ d.l.lastNameError }}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="email" placeholder="{{ d.l.emailLabel }}" formControlName="email" autocomplete="off">
          <mat-error *ngIf="signUpCtrl.get('email').invalid">{{ auth.getEmailErrorMessage(signUpCtrl.get('email')) }}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="{{ d.l.passwordlLabel }}" formControlName="password" [type]="hide ? 'password' : 'text'" autocomplete="off">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="signUpCtrl.get('password').invalid">{{ d.l.passwordTooShortError }}</mat-error>
        </mat-form-field>

        <button mat-raised-button type="submit" color="primary"
          [disabled]="signUpCtrl.invalid"
        >{{ d.l.signUpButtonLabel }}</button>
      </form>
    </mat-card>
  </div>
</div>
