.event {
  margin-top: 4px;
}

mat-card {
  max-width: 600px;
  margin: auto;
}

.border {
  background-color: #3fb551;
  color: #e8f6ea;
}

.header button {
  margin-left: 8px;
  margin-right: 8px;
}

.loading {
  margin-top: 30px;
}
