<!-- Header -->
<mat-card class="header">
  <button mat-icon-button [disabled]="edit" routerLink="/calendar/edit/-"><mat-icon>add_circle</mat-icon></button>
  <button mat-icon-button *ngIf="!edit" (click)="edit=!edit" [color]="edit ? 'primary': ''"><mat-icon>edit</mat-icon></button>
  <button mat-icon-button *ngIf="edit" (click)="edit=false"><mat-icon>close</mat-icon></button>
  <span *ngIf="!media.mobileSize">
    <button mat-icon-button (click)="previousDay()"><mat-icon>navigate_before</mat-icon></button>
    <label>{{ getDay(dayOffset) | date:d.l.shortDateFormat:'':d.l.locale | uppercase }}</label>
    <button mat-icon-button (click)="nextDay()"><mat-icon>navigate_next</mat-icon></button>
  </span>
  <button mat-icon-button [disabled]="edit" routerLink="/calendar/settings"><mat-icon>settings</mat-icon></button>
  <button mat-icon-button (click)="setToToday()"><mat-icon>today</mat-icon></button>
  <div *ngIf="media.mobileSize">
    <button mat-icon-button (click)="previousDay()"><mat-icon>navigate_before</mat-icon></button>
    <label>{{ getDay(dayOffset) | date:d.l.shortDateFormat:'':d.l.locale | uppercase }}</label>
    <button mat-icon-button (click)="nextDay()"><mat-icon>navigate_next</mat-icon></button>
  </div>
</mat-card>

<!-- Loading -->
<div *ngIf="!dayEvents" class="spinner-wrapper loading">
  <mat-spinner class="spinner"></mat-spinner>
</div>

<!-- Day events -->
<div *ngIf="dayEvents && dayEvents.length > 0">
  <mat-card *ngFor="let event of dayEvents" class="event" [class.border]="isNow(event)">
    {{ event.title }}<br>
		<label *ngIf="singleDay(event)">
	    {{ event.start | date:d.l.timeFormat:'':d.l.locale }} - {{ event.end | date:d.l.timeFormat:'':d.l.locale }}
		</label>
		<label *ngIf="!singleDay(event)">
	    {{ event.start | date:d.l.shortDateTimeFormat:'':d.l.locale }} - {{ event.end | date:d.l.shortDateTimeFormat:'':d.l.locale }}
		</label>
		<br>
    {{ event.location }}<br>
    <button mat-icon-button *ngIf="event.isAssos() && !edit" routerLink="/events/event/{{ event.id }}"><mat-icon>search</mat-icon></button>
    <button mat-icon-button *ngIf="event.isPerso() && edit" routerLink="/calendar/edit/{{ event.id }}"><mat-icon>edit</mat-icon></button>
    <button mat-icon-button *ngIf="event.isPerso() && edit" (click)="cal.removeEvent(event.id)"><mat-icon>delete</mat-icon></button>
  </mat-card>
</div>
<div *ngIf="dayEvents && dayEvents.length == 0">
  <mat-card class="event">
    {{ d.l.noCalEvent }}
  </mat-card>
</div>
