<mat-card class="header">
  <button mat-icon-button routerLink="/calendar/settings"><mat-icon>settings</mat-icon></button>
  <button mat-icon-button (click)="previousDay()"><mat-icon>navigate_before</mat-icon></button>
  <label>{{ (today + getTimeOffset()) | date:d.l.shortDateFormat:'':d.l.locale | uppercase }}</label>
  <button mat-icon-button (click)="nextDay()"><mat-icon>navigate_next</mat-icon></button>
  <button mat-icon-button routerLink="/calendar/edit/-"><mat-icon>add</mat-icon></button>
  <button mat-icon-button (click)="dayOffset=0"><mat-icon>today</mat-icon></button>
</mat-card>
<mat-card *ngFor="let event of getDisplayEvents()" class="event" [class.border]="isNow(event)">
  {{ event.title }}<br>
  {{ event.start | date:d.l.timeFormat:'':d.l.locale }} - {{ event.end | date:d.l.timeFormat:'':d.l.locale }}<br>
  {{ event.location }}
</mat-card>
