.item {
	margin: 5px;
}

.header button {
	margin-left: 8px;
	margin-right: 8px;
}

.columns {
	display: grid;
	grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;
	margin:auto;
}
