<app-loading [loading]="nsigma.getAnnonce(id) | async"></app-loading>

<div class="thin-container">
	<!-- Nsigma annonces display -->
	<mat-card *ngIf="nsigma.getAnnonce(id) | async as annonce">
	  <mat-card-header>
	    <img mat-card-avatar src="assets/img/nsigma-types/{{ annonce.type }}.png">
	    <mat-card-title>{{ annonce.done ? '[' + d.l.nsigmaAnnounceDone + '] ' : ''}}{{ annonce.title }}</mat-card-title>
	    <mat-card-subtitle>{{ d.format(d.l.remuneration, annonce.remuneration) }} €</mat-card-subtitle>
	  </mat-card-header>
	  <mat-card-content>
	    <p [innerHTML]="d.format(d.l.technologies, annonce.technologies)"></p>
	    <p [innerHTML]="d.format(d.l.difficulty, annonce.difficulty)"></p>
	    <p><b>{{ d.format(annonce.start | date:d.l.longDateFormat:'':d.l.locale) }} -
	      {{ d.format(annonce.end | date:d.l.longDateFormat:'':d.l.locale) }}</b></p>
	    <markdown [data]="annonce.description"></markdown>
	  </mat-card-content>
	  <mat-card-actions>
	    <a mat-raised-button color="primary"	target="_blank" href="{{annonce.form}}" [disabled]="annonce.done">
	      {{ d.l.applyToNsigmaAnnounce }}
	    </a>
	  </mat-card-actions>
	</mat-card>
</div>

<div class="mat-fab-bottom-right">
  <button mat-fab color="primary" (click)="location.back()"><mat-icon>arrow_back</mat-icon></button>
</div>

<br><br><br><br><br><br>
