<div>

	<h2>Questions fréquentes (FAQ)</h2>

	<h3>Quelle est l'adresse email à utiliser ?</h3>
	Il s'agit de `prenom.nom[numéro]@grenoble-inp.org`. Tout le monde en a une, le mieux c'est de s'envoyer un email pour vérifier qu'elle est correcte.<br>
	<br>

	<h3>Le mot de passe est-il celui de l'Ensimag ?</h3>
	Non ! Il s'agit d'un nouveau mot de passe car l'identification est gérée par Firebase.<br>
	<br>

	<h3>Je n'arrive pas à créer un compte !</h3>
	Il peut y avoir plusieurs raisons à cela :<br>
	- l'adresse est érronée : le compte sera créé mais il sera impossible de valider l'email et donc d'y accéder.<br>
	- l'adresse n'est pas rejettée mais l'email de validation n'arrive pas. Dans ce cas il peut suffire d'attendre ou de redemander l'email. Si le compte a bien été créé, un alternative pour valider l'email est de suivre la procédure de mot de passe oublié.<br>
	<br>

	<h3>Il me manque des cours / Je n'ai aucun cours !</h3>
	Il suffit généralement de mettre à jour les ressources ADE (ou de les configurer une première fois) dans les paramètres du calendrier, d'enregistrer et de rafraichir la page.<br>
	<br>
	Les masters 2A n'ont pas leurs cours sur ADE, mais ont certains évenements communs aux 2A.<br>
	Les masters 3A n'ont à priori pas leurs cours sur Zenith, mais peuvent malgré tout les trouver sur ADE. Il faut alors les renseigner manuellement.<br>
	<br>
	Une manière de récupérer ces ressources est de selectionnner tous ses cours le dans menu de gauche d'ADE puis de générer l'URL d'export (en bas à gauche). Les ressources se trouvent alors affectées au paramètre `resources` de l'URL.<br>
	<br>
	La récupération automatique, elle, parse ce même paramètre `resources` dans l'URL de téléchargement de Zenith.<br>
	<br>

	<h3>C'est buggé !</h3>
	(bande de rageux)<br>
	<br>
	C'est possible... c'est aussi possible que le bug ait été corrigé et que l'application ne se soit pas mise à jour.<br>
	<br>
	Pour la mettre à jour, il peut suffire de rafraichir la page. Il peut cependant être nécessaire de vider le cache du navigateur puis de rafraichir la page. Sur IOS, il peut même être nécessaire de désinstaller l'application avant les manipulations susmentionnées.<br>
	<br>

	<h3>D'autres questions ?</h3>
	Pour toute autre question/remarque, tu peux t'orienter vers le <a href="https://gitlab.com/cercle-ensimag/ensicerclapp/-/issues">GitLab</a>.<br>
	<br>

</div>
<br>
