/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
  background: #E2E4E6;
  padding-top: 4em;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.tab-group-container {
	margin: 0px;
	margin-top: 5px;
}

.tab-content-container {
	padding: 5px;
	padding-bottom: 0px;
}

.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  text-align: center;
  max-width: 1000px;
  margin: auto;
	margin-left: -5px;
	margin-right: -5px;
}

.grid-container mat-card {
	box-sizing: border-box !important;
  text-align: left;
	height: 100%;
}

.grid-container .wrapper {
	box-sizing: border-box !important;
	padding: 5px;
	height: 100%;
}

@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.grid-container {
		grid-template-columns: 100%;
	}
}

.click:hover {
	cursor: pointer;
}

.container {
  padding: 5px;
  max-width: 1000px;
  margin: auto;
}

.container.withCalendar {
  max-width: unset !important;
}

.container > * {
	width: 100%;
}

.thin-container {
	max-width: 590px;
	margin: auto;
}

.error {
  background:#f1f0ef;
  padding:1em;
  width:100%;
  display:block;
  margin-top:10px;
  margin-bottom:10px;
  margin-left: -1em;
}

.center, mat-card-actions {
  text-align: center !important;
}

div.fab-btn-placeholder {
	box-sizing: border-box !important;
	height: 102px !important;
	padding: 23px;
}

div.mat-fab-bottom-right {
  position: fixed !important;
  bottom: 28px;
  right: 28px;
  z-index: 11;
}

div.mat-fab-bottom-right button:not(:last-child) {
  margin-right: 14px;
}

button.mat-fab-bottom-right {
  position: fixed !important;
  bottom: 28px;
  right: 28px;
}

button.mat-fab[ng-reflect-disabled="true"], button.mat-fab[disabled] {
  background-color: #dcdcdc !important;
}

.app-loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  flex: 1;
  /* https://www.svgbackgrounds.com/#liquid-cheese*/
  background-color: #bdd39b;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23c5d8a7' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23cdddb3' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23d5e3bf' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23dce8cb' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23e4edd7' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23e7efdb' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23e9f1df' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23ecf2e3' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23eef4e7' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23f1f6eb' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.spinner {
  width: 40px;
  height: 40px;
  position: fixed;
  z-index: 999;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}
