<mat-card *ngIf="formGroup">
  <!-- Profile form -->
  <form [formGroup]="formGroup" class="container">
    <h2>{{ d.l.accountPageTitle }}</h2>

    <mat-form-field>
      <input matInput placeholder="{{ d.l.firstNameLabel }}" formControlName="first_ctrl" autocomplete="off">
      <mat-error *ngIf="formGroup.get('first_ctrl').invalid">{{ d.l.firstNameError }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="{{ d.l.lastNameLabel }}" formControlName="last_ctrl" autocomplete="off">
      <mat-error *ngIf="formGroup.get('last_ctrl').invalid">{{ d.l.lastNameError }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="{{ d.l.nicknameLabel }}" formControlName="login_ctrl" autocomplete="off">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="{{ d.l.emailLabel }}" formControlName="email_ctrl" autocomplete="off">
    </mat-form-field>
  </form>
  <div class="center">
    <button mat-raised-button (click)="newPassword()" color="primary">{{ d.l.changePasswordButtonLabel }}</button><br>
    <button mat-raised-button (click)="deleteAccount()" color="warn">{{ d.l.deleteAccountButtonLabel }}</button>
  </div>
</mat-card>

<div class="mat-fab-bottom-right">
  <button mat-fab color="primary" (click)="location.back()"><mat-icon>arrow_back</mat-icon></button>
  <button mat-fab color="primary" *ngIf="formGroup"
          (click)="updateProfile()"
          [disabled]="formGroup.invalid || formGroup.pristine">
    <mat-icon>save</mat-icon>
  </button>
</div>
