<div class="history">

  <!-- Loading -->
  <div *ngIf="!isHistory" class="spinner-wraper">
    <mat-spinner class="spinner"></mat-spinner>
  </div>

  <!-- History -->
  <div *ngIf="isHistory">

    <mat-table #table [dataSource]="history">

      <!-- Date -->
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>{{ d.l.transactionDateLabel }}</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.date | date:d.l.shortDateFormat:'':d.l.locale }} &emsp;</mat-cell>
      </ng-container>

      <!-- Value -->
      <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef>{{ d.l.transactionValueLabel }}</mat-header-cell>
        <mat-cell *matCellDef="let element" [class.plus]="isPlus(element)" [class.minus]="isMinus(element)"> {{ element.value }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['date', 'value']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['date', 'value'];"></mat-row>

    </mat-table>

  </div>
</div>
