<div>

  <h2>Mentions légales</h2>
  L'application web Cercle Ensimag (nom de code : ensicerclapp) propose un ensemble de fonctionnalités aux élèves de l'Ensimag qui visent à soutenir la vie étudiante au sein de l'école.<br>
  <br>
	Le code de l'application est disponible sur <a href="https://github.com/Cercle-Ensimag/ensicerclapp">GitHub</a>.<br>
	<br>

  <h3>Informations éditoriales</h3>
  <h4>Editeur</h4>
  Cercle Ensimag<br>
  681 rue de la passerelle<br>38400 Saint Martin D'Hères<br>
  <br>

  <h4>Directrice de la publication</h4>
  Gloria Ej-jennane, présidente<br>
	Email : cercle.ensimag@gmail.com<br>
  <br>

  <h3>Hébergeur du site statique</h3>
  OVH<br>
  Siège social : 2 rue Kellermann - 59100 Roubaix - France<br>
  <br>
  OVH est une entreprise française spécialisée dans les services de cloud computing<br>
  <br>

  <h3>Hébergeur de la base de donnée</h3>
  Firebase<br>
  Création : septembre 2011<br>
  Organisation mère : Google<br>
  Siège social : San Francisco, Californie, États-Unis<br>
  <br>
  Firebase est un ensemble de services d'hébergement pour n'importe quel type d'application<br>
  <br>

	<h3>Données personnelles</h3>
  Les données personnelles collectées par le Cercle Ensimag sont strictement nécessaires à la bonne execution des services proposés.<br>
  Les données qui n'impactent pas la bonne execution des services sont supprimées à la suppression du compte,
  les autres -- tel que les registres de vote -- sont conservées jusqu'à ce qu'elles ne soient plus nécessaires.<br>
  <br>
  La date de certaines actions sert d'identifiant unique à des données mises en base de données mais aucun traitement n'est effectué sur celle-ci.<br>
	<br>
	Des données anonymes de consultation sont récupérées via Google Analitics pour obtenir des statistiques sur l'utilisation de l'application.<br>
	<br>

  <h3>Icônes & Illustrations</h3>
  Les icônes et illustrations présentes sur cette application sont la propriété de leurs auteurs respectifs.<br>
  Les icônes présentes dans la barre lattérale appartiennent à <a href="https://www.flaticon.com/">https://www.flaticon.com/</a>.

</div>
<br>
