<div class="info">

  <h2>Mentions légales</h2>
  L'application web Ensicerclapp propose un ensemble de fonctionnalités au élèves de l'Ensimag qui visent à soutenir la vie étudiante au sein de l'école.<br>
  <br>

  <h3>Informations éditoriales</h3>
  <h4>Editeur</h4>
  Cercle Ensimag<br>
  681 rue de la passerelle<br>34000 Saint Martin D'Hères<br>
  <br>

  <h4>Directrice de la publication</h4>
  Gloria Ej-jennane, présidente<br>
  <br>

  <h3>Hébergeur du site statique</h3>
  OVH<br>
  Siège social : 2 rue Kellermann - 59100 Roubaix - France<br>
  <br>
  OVH est une entreprise française spécialisée dans les services de cloud computing<br>
  <br>

  <h3>Hébergeur de la base de donnée</h3>
  Firebase<br>
  Création : septembre 2011<br>
  Organisation mère : Google<br>
  Siège social : San Francisco, Californie, États-Unis<br>
  <br>
  Firebase est un ensemble de services d'hébergement pour n'importe quel type d'application<br>
  <br>

  <h3>Données personnelles</h3>
  Les données personnelles collectées sont strictement nécessaires à la bonne executions des services proposés.
  Les données qui n'impactent pas la bonne execution des services sont supprimées à la suppression du compte,
  les autres sont conservées jusqu'à ce qu'elles ne soient plus nécessaires.

</div>
<br>
<button mat-raised-button color="primary" (click)="back()">{{ d.l.backLabel }}</button>
