<!-- Loading -->
<app-loading [loading]="formGroup"></app-loading>

<!-- Poll display -->
<mat-card *ngIf="formGroup">
  <form [formGroup]="formGroup" class="container">

    <mat-form-field>
      <input matInput placeholder="{{ d.l.pollTitleLabel }}" formControlName="title" autocomplete="off">
      <mat-error *ngIf="formGroup.get('title').invalid">{{ d.l.pollTitleError }}</mat-error>
    </mat-form-field>

    <mat-slide-toggle formControlName="started" color="primary">{{ d.l.startLabel }}</mat-slide-toggle>

    <mat-form-field>
      <textarea matInput placeholder="{{ d.l.pollDescriptionLabel }}" formControlName="description"></textarea>
      <mat-error *ngIf="formGroup.get('description').invalid">{{ d.l.pollDescriptionError }}</mat-error>
    </mat-form-field>

    <markdown [data]="formGroup.get('description').value"></markdown>

    <div class="grid-container">
      <div *ngFor="let choice of choices">
        <div class="border">
          <form [formGroup]="choice.ctrl" class="container">
            <mat-form-field>
              <input matInput placeholder="{{ d.l.choiceTitleLabel }}" formControlName="label" autocomplete="off">
              <mat-error *ngIf="choice.ctrl.get('label').invalid"></mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="{{ d.l.choiceImageLabel }}" formControlName="image" autocomplete="off">
              <mat-error *ngIf="choice.ctrl.get('image').invalid"></mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="{{ d.l.choiceShortNameLabel }}" formControlName="short" autocomplete="off">
              <mat-error *ngIf="choice.ctrl.get('short').invalid"></mat-error>
            </mat-form-field>
            <mat-icon (click)="removeChoice(choice.id)">delete</mat-icon>
          </form>
        </div>
      </div>
    </div>

    <div class="center">
      <button mat-raised-button (click)="addChoice()" color="primary">{{ d.l.addChoiceLabel }}</button>
    </div>
  </form>
</mat-card>

<div class="mat-fab-bottom-right">
  <button mat-fab color="primary" (click)="location.back()"><mat-icon>arrow_back</mat-icon></button>
  <button *ngIf="formGroup" mat-fab color="primary"
          (click)="submit()"
          [disabled]="formGroup.invalid || (formGroup.pristine && allNewChoicesPristine()) || !choicesOk()">
    <mat-icon>save</mat-icon>
  </button>
</div>

<div class="fab-btn-placeholder"></div>
